$pri-color: #282c34;
$sec-color: #ffffff;
$ter-color: #50dba6;
$nav-color: #1b2027;
$transition-speed: 600ms;

:root {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
body {
    background-color: $pri-color;
    color: $sec-color;
    margin: 0;
    padding: 0;
}
.Main {
    margin-left: 5rem;
    padding: 1rem;
}

/* NAVIGATION BAR *********************************************************************************/
.Navbar {
    background-color: $nav-color;
    position: fixed;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    transition: width 600ms ease;
    width: 5rem;
    overflow: hidden;

   
    .NavbarLogo {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        display: inline;
        position: absolute;
        left: -999px;
    }

    &:hover {
        .NavbarLogo {
            left: 0;
        } 
        .NavItemText {
            display: inline;
            margin-left: 2.5rem;
            font-size: 1rem;
        }
    }
    .NavItemText {
        display: none;
        font-size: 1rem;
        margin-top: -0.25rem
    }
    .NavbarItems {
        list-style: none;
        padding: 3rem 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .NavItem {
            width: 100%;
            padding: 1rem 1.5rem 1.5rem;
            align-items: center;
            white-space: nowrap;

            .NavItemText:hover {
                text-decoration: underline;
            }
            &:last-child {
                margin-top: auto;
            }
            &:hover {
                filter: grayscale(0%) opacity(1);
                background: $pri-color;
                color: $ter-color;
                transition: $transition-speed;   

                
            }
            
            
        }
    }
}
@media (min-width: 992px) {  
    .Navbar {
        height: 100vh;


        &:hover {
            width: 16rem;

        }
    }
    .NavbarItems {
        top: 0;
        height: 100vh;
        width: 5rem;
    }
}

/* RESPONSIVE BREAKPOINTS *************************************************************************/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }